{% extends 'base.html' %}

{% block title %} About Us {% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>About Us</h1>
        <p>
            Encrypto is a cutting-edge Django-based platform developed by a dynamic team of six dedicated students from the University of Windsor. Our mission is to provide a seamless and secure environment for crypto trading enthusiasts, offering an array of features designed to enhance the trading experience.
        </p>
        <h2>Key Features:</h2>
        <ul>
            <li><strong>Currency Exchange:</strong> Our platform supports a variety of currency exchange options, catering to both crypto and forex enthusiasts. Whether you're looking to convert Bitcoin to USD or EURO to USD, Encrypto has got you covered.</li>
            <li><strong>User-friendly Interfaces:</strong> We understand the importance of user experience. That's why we've meticulously crafted different interfaces for registered and unregistered users. </li>
            <li><strong>Top-notch Information Hub:</strong> Stay informed with our top menu bar, providing real-time updates on current trends, charts, patterns, rates, and more. Under the "Highlights" section we ensure you have access to the latest market insights.</li>
            <li><strong>Payment Gateway:</strong> Encrypto integrates a secure payment gateway, empowering users to seamlessly buy and sell currencies and stocks. Our commitment to security ensures a worry-free transaction experience.</li>
            <li><strong>Payment History Section:</strong> Keep track of your financial journey with our Payment History section. Review your previous stock and cryptocurrency transactions effortlessly, gaining insights into your trading history.</li>
            <li><strong>User Verification:</strong> To ensure the utmost security, we prioritize user verification. During registration, users are prompted to upload a valid ID or photo, adding an extra layer of protection to their accounts.</li>
            <li><strong>Aesthetically Pleasing Design:</strong> We believe that the visual appeal of a platform is crucial. Encrypto boasts a captivating design and color scheme, creating an engaging and enjoyable atmosphere for all users.</li>
        </ul>
        <p>Join us at Encrypto and embark on a journey of secure, efficient, and visually pleasing crypto trading. Your success in the world of digital assets begins here!</p>

    </div>
{% endblock content %}
