{% load static %}

<!-- Footer Start -->
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <br>
                <a href="{% url 'about_us' %}">
                    <h5>About Us</h5>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <br>
                <a href="{% url 'terms_of_service' %}">
                    <h5>Terms of Service</h5>

                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <br>
                <a href="{% url 'privacy_policy' %}">
                    <h5>Privacy Policy</h5>

                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <br>
                <a href="{% url 'contact' %}">
                    <h5>Contact Us</h5>
                </a>
            </div>
        </div>

        <hr class="my-4">

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="copy-right text-center">
                    <p>© 2023 Encrypto. Developed By Encrypto Team <a href="#" class="text-light">Group 4</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
