{% load static %}
<style>
    .custom-portfolio-link:hover{
      cursor: pointer;
      background-color: #4caf50;
      color: white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .custom-logout:hover{
        cursor: pointer;
          background-color: #f44336;;
          color: white;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .custom-dropdown-menu{
        position: absolute;
        margin-left: -73px;
        margin-top: 10px;
        {#display: flex;#}
        {#flex-direction: column;#}
    }
</style>
<nav class="navbar navbar-expand-md bg-dark" style="">
  <a class="navbar-brand my-2 my-sm-0 custom-nav-logo text-white" href="{% url 'home' %}" >
      <img src="{% static 'encrypto.png' %}" alt="Logo" height="70px" width="70px"/>
      Encrypto
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <div class="d-flex flex-sm-column align-items-center">
          <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-offset="-50,10">
              {{ user.username | capfirst }}
            </button>
            <div class="dropdown-menu custom-dropdown-menu">
                <a class="btn my-2 my-sm-0 mr-2 custom-portfolio-link" href="{% url 'portfolio' %}"  style="width: 100%">View My Wallet</a>
                <a class="btn my-2 my-sm-0 mr-2 custom-logout" href="{% url 'logout' %}" style="width: 100%" >Logout</a>
            </div>
          </div>
      </div>
      {% else %}
      <div class="btn-group" role="group">
        <a class="btn my-2 my-sm-0 mr-2 bg-primary rounded-lg text-white" href="{% url 'login' %}" >Login</a>
        <a class="btn my-2 my-sm-0 bg-primary rounded-lg text-white" href="{% url 'signup' %}" style="background-color: #777; border-color: #777; color: #fff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);">Signup</a>
      </div>
      {% endif %}
    </ul>
  </div>
</nav>
