{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}

<h1>Transaction History</h1>
{% if history %}
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Transaction Date</th>
            <th>Amount (in USD)</th>
            <th>Cryptocurrency</th>
            <th>Quantity</th>
            <th>Method</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.payment_date }}</td>
                    <td>${{ entry.amount }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.quantity }}</td>
                    <td>{% if entry.bought_flag %}BUY{% else %}SELL{% endif %}</td>
                    <td>{% if entry.success_flag %}<p class="badge badge-success">SUCCESS</p>{% else %}<p class="badge badge-danger">FAIL</p>{% endif %}</td>
                </tr>
            {% endfor %}
    </tbody>
</table>
    {% else %}
    <p>No payment history.</p>
    {% endif %}
    <p><a class="btn btn-primary" href="{% url 'portfolio' %}">Back to portfolio</a></p>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
