{% extends 'base.html' %}
{% block title %}
Wallet 
{% endblock title %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}


<h6 class="mb-4 mt-5">{{ current_user | upper }}'s Wallet</h6>
{% if margin < 0 %}
    <h1 class="display-2 font-weight-bold text-danger d-inline-block mr-2">${{ new_portfolio_value | floatformat:2 }}</h1>
    <h4 class="d-inline-block"><i class="fas fa-arrow-down mr-1"></i>{{ margin | floatformat:2 }}%</h4>
{% else %}
    <h1 class="display-2 font-weight-bold text-success d-inline-block mr-2">${{ new_portfolio_value | floatformat:2 }}</h1>
    <h4 class="d-inline-block"><i class="fas fa-arrow-up mr-1"></i>{{ margin | floatformat:2 }}%</h4>
{% endif %}
{% if user_cryptocurrencies %}
  <div class="table-responsive">
    <table class="table table-striped mb-4 mt-2">
      <thead>
        <tr>
          <th scope="col">Cryptocurrency</th>
          <th scope="col">Buying Price</th>
          <th scope="col">Current Price</th>
          <th scope="col">Units Owned</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for crypto in user_cryptocurrencies %}
          <tr>
            <td>{{ crypto.name }}</td>
            <td>{{ crypto.current_price | floatformat:2 }}</td>
            <td>{{ crypto.now | floatformat:2 | default:"N/A" }}</td>
            <td>{{ crypto.quantity | floatformat:0 }}</td>
            <td><a href="{% url 'delete_from_portfolio' crypto.id %}?sp={{ crypto.now }}">SELL</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
{% else %}
<div class="my-3 text-dark">
  You have not added any cryptocurrencies to your portfolio yet. Start building something great!
</div>
<p><a class="btn btn-primary" href="{% url 'home' %}">Buy your first crypto!</a></p>
{% endif %}
{% endblock %}

